<mat-card>
  <div class="mat-elevation-z8">
    <section class="content-register">
      <h3>Registros</h3>
      <a class="register-create" href="#">novo registro</a>
    </section>

    <div *ngIf="registers$ | async as registers; else loading">
      <table mat-table [dataSource]="registers">
        <!-- ID Column -->
        <ng-container matColumnDef="_id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let register"> {{register._id}} </td>
        </ng-container>

        <!-- CompanyOfProvider Column -->
        <ng-container matColumnDef="companyOfProvider">
          <th mat-header-cell *matHeaderCellDef> Company/Provider </th>
          <td mat-cell *matCellDef="let register"> {{register.companyOfProvider}} </td>
        </ng-container>

        <!-- Documents Column -->
        <ng-container matColumnDef="documents">
          <th mat-header-cell *matHeaderCellDef> Documents </th>
          <td mat-cell *matCellDef="let register"> {{register.documents}} </td>
        </ng-container>

        <!-- State Column -->
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef> State </th>
          <td mat-cell *matCellDef="let register"> {{register.state}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator> -->
  </div>

  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

</mat-card>